body {
	margin: 0%;
	background-color: ivory;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	margin-left: 20%;
	margin-right: 20%;
}

.titleBox {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nameTitle {
	text-align: center;
	font-size: 3rem;
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	padding: 3px;
	margin-bottom: 0px;
}

.subTitle {
	text-align: center;
}

.contentHeader {
	font-weight: bold;
	text-align: center;
}

.bannerItem {
	width: fit-content;
	margin: 10px;
	padding: 3px;
	background-color: #5996FF;
	border-radius: 20px;
	box-shadow: 5px 3px 3px #000;
}

.bannerLink {
	font-size: 2rem;
	color: #F4CEFF;
	text-decoration: none;
}

.currentPage {
	font-size: 2rem;
	color: #000;
	text-decoration: none;
}

.banner {
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index: 1;
	width: 100vw;
	top: 0px;
	height: fit-content;
	background-color: #1B4EF5;
	font-family: 'Courier New', Courier, monospace;
	color: aliceblue;
	position: fixed;
	align-content: center;
	opacity: 90%;
}

.legal {
	font-size: 10px;
	text-align: center;
}

.invisible {
	display: none;
}

@media (max-width: 600px) {
	.nameTitle {
		font-size: 2rem;
	}

	.bannerLink {
		font-size: 1rem;
	}

	.currentPage {
		font-size: 1rem;
	}

	.container {
		margin-left: 0%;
		margin-right: 0%;
	}
}