.decklistConatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decklistConatiner ul {
    list-style: none;
    text-align: center;
    align-content: center;
}

.decklistImg {
    margin: 10px;
    width: 60vw;
}

@media (max-width: 600px) {
    .decklistImg {
        width: 100vw;
    }
}